<%- include("../partials/header") %>

<section id="clients" class="container" >

    <!-- Team Inner -->
    <div class="inner team ">

        <!-- Header -->
        <h1 class="header light gray3 fancy"><span class="colored">Our </span> Gymnasts</h1>

        <!-- Description -->
        <p class="h-desc gray4">Explore all<span class="colored bold">  Our Exercises</span> </p>


        <!-- Members -->
        <div class="team-members inner-details">
            <% let x=0,i=1; %>
           <% allexercises.forEach(function(current_exercise){ %>
                         <!-- Member -->
                         
            <div class="col-xs-3 member animated" data-animation="fadeInUp" data-animation-delay="<%= x %>">
                
                <div class="member-inner colored" style="border-width: medium;border-style: solid;" >
                    <!-- Team Member Image -->
                    <a class="team-image">
                        <p><%= current_exercise.gif%></p>
                        <img src="images/<%=i%>.gif" ></img>
                    </a>

                    <div class="member-details">
                        <div class="member-details-inner">
                            <!-- Name -->
                            <h2 class="member-name light"> <%= current_exercise.name %> </h2>
                            <!-- Description -->
                            <p class="member-description"><%= current_exercise.description %>  </p>
                            <!-- Socials -->
                            <div class="socials">
                                <!-- Link -->
                                <!-- <a href="/embedded/<%=current_exercise._id %>"><i class="fa fa-link"></i></a> -->
                                <% if(current_exercise.name=="Squats" && !(user._json.hd && user._json.hd=="thapar.edu") && (!pre || pre==false)){ %>             
                                    <a href="/premium/payment" class="text-center"><i class="fa fa-link"></i></a>
                                    <p class="member-description">Premium  </p>
                                <%}else{%>
                                    <a href="/embedded/<%=current_exercise._id %>"><i class="fa fa-link"></i></a>
                                <%}%>
                            </div><!-- End Socials -->
                        </div> <!-- End Detail Inner -->
                    </div><!-- End Details -->
                </div> <!-- End Member Inner -->
            </div><!-- End Member -->

           <% x=x+100; x=x%500;i=i+1;  }) %>

        </div><!-- End Members -->
    </div><!-- End Team Inner -->
</section><!-- End Team Section -->


<%- include("../partials/footer") %>